{% extends 'records/base.html' %} {% load crispy_forms_tags%}

{% block content%}
<div class="">
    <div class="row">
        <div class="col-md-3">
            {% include 'records/sidebar.html'%}

        </div>
        <div class="col-md-9 mt-5">
            <div class="container">
                <div class="jumbotron m-3 mt-4">
                    <h4 class="text-center mb-2 m-2"> Report Incidence</h4>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-5">
                                {{form.victim_name|as_crispy_field}}
                            </div>
                            <div class="col-md-5">
                                {{form.victim_id|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                {{ form.crime_type|as_crispy_field}}
                            </div>
                            <div class="col-md-5">
                                {{ form.crime_location|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row">
                           
                            <div class="col-md-10">
                                {{ form.description|as_crispy_field}}
                            </div>
                           
                        </div>
                        <button type="submit" class="btn btn-outline-info"><i class="fa fa-database"></i>  Submit</button>
                    </form>
                </div>
                <div>
                    <a class="btn btn-info text-light m-2" href="{% url 'report_list' %}">Go to Report List</a>
                    <a class="btn btn-success  text-light m-2" href="{% url 'home'%}"> Home</a>
                </div>

            </div>

        </div>
    </div>

</div>
{% endblock content %}